@tailwind base;
@tailwind components;
@tailwind utilities;

.tlastc {
	text-align-last: center
}

.J {
	opacity: 0;
	animation: drop .4s linear forwards;

}

.u {
	opacity: 0;
	animation: drop .4s linear forwards .2s;

}

.a {
	opacity: 0;
	animation: drop .4s linear forwards .4s;

}

.n {
	opacity: 0;
	animation: drop .4s linear forwards .6s;

}

.P {
	opacity: 0;
	animation: drop .4s linear forwards .8s;

}

.a2 {
	opacity: 0;
	animation: drop .4s linear forwards .10s;

}

.b {
	opacity: 0;
	animation: drop .4s linear forwards .12s;

}

.l {
	opacity: 0;
	animation: drop .4s linear forwards .14s;

}

.o {
	opacity: 0;
	animation: drop .6s linear forwards .16s;

}

.letterHover:hover {
	opacity: 1;
	animation: up .2s linear forwards
}

@keyframes drop {
	0% {
		transform: translateY(-200px) scaleY(0.9);
		opacity: 0;
	}

	5% {
		opacity: .7;
	}

	50% {
		transform: translateY(0px) scaleY(1);
		opacity: 1;
	}

	65% {
		transform: translateY(-17px) scaleY(.9);
		opacity: 1;
	}

	75% {
		transform: translateY(-22px) scaleY(.9);
		opacity: 1;
	}

	100% {
		transform: translateY(0px) scaleY(1);
		opacity: 1;
	}
}


@keyframes up {
	100% {
		transform: translateY(-22px);
	}

}

